---
import type { Project } from "@/data/projects";

type Props = Project;

const { title, techs, link, isComingSoon, description } = Astro.props;

const formatTechs = (values: string[]) =>
  values.toString().replaceAll(",", " • ");

  const { lang } = Astro.params;

---

<>
  {isComingSoon && (
    <div class="group flex w-full flex-col justify-between gap-2 rounded-md border border-neutral-700 p-4 md:flex-row md:items-center">
      <div class="flex flex-col gap-2 md:flex-row md:items-center md:gap-4">
        <p class="text-neutral-100">{title}</p>
        <p>{formatTechs(techs)}</p>
      </div>
      <p class="w-fit rounded-md bg-neutral-900 px-4 py-1">Soon</p>
    </div>
  )}

  {!isComingSoon && (
    <a
      class="group flex w-full cursor-pointer flex-col justify-between gap-2 rounded-md border border-neutral-700 p-4 transition-all duration-300 hover:-translate-y-2 hover:border-neutral-400  "
      href={link}
      target="_blank"
      rel="noreferrer"
    >
      <div class="flex flex-col gap-4 md:flex-row md:items-center">
        <p class="text-neutral-100">{title}</p>
        <p>{formatTechs(techs)}</p>
      </div>
      <p class="text-neutral-500">
        {lang === "en" ? description.en : description.br}
      </p>
    </a>
  )}
</>
</>
